.footer{
    background-color: var(--color-bg);
}
.footer .purchase-btn {
  background-color: var(--color-text-secondary);
  border: 0;
}

.footer .purchase-btn:hover {
  background-color: var(--color-hightlight);

  color: var(--color-text);
  font-weight: var(--font-weight-bold);
}
