.contact {
  background-color: var(--color-bg);
}

/* New styles for small screens */
@media (max-width: 768px) {
  .mt-5 {
    margin-top: 200px !important; /* !important is used to override Bootstrap's default margin */
  }
}

.contact .contact-item {
  display: flex;
  align-items: center;
  margin: 10px;
}

.contact .contact-info h5 {
  margin-bottom: 0;
}

.contact .contact-info p {
  margin: 0;
}

.contact .contact-icon {
  position: relative;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .contact-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dashed var(--color-hightlight);
  border-radius: 50%;
  animation: moveDashedBorder 10s linear infinite;
}

@keyframes moveDashedBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
