.activities {
  /* background-color: var(--color-bg); */
}

.activities .card-img {
  height: 400px;
  width: 100%;
  /* fit cover */
  object-fit: cover;
}

.activities .more-button {
  background-color: var(--color-text-secondary);
  border: 0;
}

.activities .more-button:hover {
  background-color: var(--color-hightlight);
}
