.year-design {
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
  position: absolute;
  top: 20%;
  left: -190px;
}

.year-design::after {
  content: "";
  display: block;
  width: 4px;
  height: 90%;
  background-color: var(--color-hightlight);
  position: absolute;
  top: 0%;
  right: -66px;
}

@media (max-width: 576px) {
  .year-design {
    position: absolute;
    top: -50px; /* Adjust as needed to position above */
    left: 0; /* Center horizontally */
    padding: 5px 10px;
    
    border: 1px solid var(--color-text-secondary); /* Border color of the rectangle */
    border-left: 4px solid var(--color-hightlight); /* Remove right border to connect with education-item */
  }
  .year-design::after {
    display: none; /* Hide the border for small screens */
  }
}
